.container {
  display: flex;
  height: 100%;
  padding: 50px 100px;
}

.aside {
  color: black;
}

:global(li) {
  list-style: none;
}

.listCards {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 20px;

  & .card {
    color: black;
    padding: 20px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: 2px solid lightcoral;
    border-radius: 10px;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.3);

    & img {
      width: 200px;
      height: 200px;
      object-fit: contain;
    }

    & .productSet {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      & div {
        margin-bottom: 10px;
        text-align: center;
      }
    }

    & .rating {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    & p {
      text-align: center;
      margin: 0;
    }

    & input {
      background-color: #e2f1ff;
      border: none;
      width: 40px;
      outline: none;
      color: #264e74;
      font-size: 19px;
      font-weight: bold;
      text-align: center;

      &:out-of-range {
        color: red;
      }
    }

    & input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.inputContainer {
  display: flex;
}

.increment {
  background-color: #e2f1ff;
  border-radius: 0 5px 5px 0;
  border: none;
  font-size: 18px;
  font-weight: bold;
  padding: 0 10px;
  cursor: pointer;
  color: black;

  &:hover {
    color: green;
    transition: 0.4s;
  }
}

.decrement {
  background-color: #e2f1ff;
  border-radius: 5px 0 0 5px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  padding: 0 10px;
  cursor: pointer;
  color: black;

  &:hover {
    color: red;
    transition: 0.4s;
  }
}
