.button {
  opacity: 0.8;
  box-sizing: border-box;
  position: fixed;
  top: 25px;
  right: 6%;
  width: fit-content;
  border: none;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
  padding: 0px 22px;
  height: 45px;
  gap: 0.3rem;
  color: black;
  background-color: var(--primary-yellow);
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.3);
  z-index: 1;
  border: 2px black solid;

  & p {
    position: absolute;
    color: black;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  &:hover p {
    position: static;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease visibility 0s 0.5s;
  }

  & span {
    font-size: 17px;
    padding: 2.5px 5px 2px 5px;
    color: black;
    position: absolute;
    bottom: 4px;
    right: 42px;
  }

  &:hover span {
    right: 79px;
  }

  &:hover {
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  .button {
    top: 15%;
    right: 35px;
  }
}
