/* Cart Button */
.button {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  opacity: 0.8;
  box-sizing: border-box;
  position: fixed;
  top: 25px;
  right: 6%;
  width: 70px;
  border: none;
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 0px 22px;
  height: 45px;
  gap: 0.3rem;
  color: black;
  background-color: var(--primary-yellow);
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.3);
  z-index: 1;
  border: 2px black solid;
  transition: width 0.2s ease;

  & p {
    position: absolute;
    color: black;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  &:hover p {
    position: static;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease visibility 0s 0.5s;
  }

  & span {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.347);
    font-size: 17px;
    padding: 2.5px 5px 5px 0px;
    color: black;
    position: absolute;
    bottom: 4px;
    right: 40px;
    transition: right 0.2s ease;
  }

  &:hover span {
    right: 79px;
  }

  &:hover {
    opacity: 1;
    width: 110px;
  }
}

@media (max-width: 1200px) {
  .button {
    top: 15%;
    right: 35px;
  }
}

/* Check Out */

.mainContainer {
  font-family: 'Nunito', sans-serif;
  display: flex;
  height: 100%;
  width: 100%;

  & .itemsContainer {
    flex: 0.7;
    padding: 20px 100px 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    & header {
      display: flex;
      align-items: center;
      gap: 20px;

      & h1 {
        padding: 0;
        padding-left: 20px;
        border-left: 2px solid gray;
        font-size: 27px;
        color: #494949;
      }
    }

    & .cartItems {
      padding: 0 70px 0 0;
      overflow-x: hidden;
      flex: 1;
      scrollbar-color: #9d9d9d white;
      scrollbar-width: thin;

      & ul {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        & li {
          font-weight: 500;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-around;
          gap: 3.2rem;
          padding: 10px 20px;
          border-radius: 8px 0 0 8px;
          background-color: #f2f1f1;

          & .title {
            width: 200px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }

          & .imgContainer {
            padding: 10px;
            border-radius: 50%;
            background-color: white;

            & img {
              border-radius: 50%;
              width: 80px;
              height: 80px;
              object-fit: contain;
            }
          }

          & .removeBtn {
            height: 100%;
            cursor: pointer;
            padding: 0 10px;
            border: none;
            background-color: white;
            border-radius: 0 8px 8px 0;
            position: absolute;
            right: 0;
            transform: translateX(100%);

            &:hover {
              background-color: rgb(246, 249, 191);
            }
          }
        }

        & .emptyCart {
          background-color: #f2f1f164;
          padding: 20px;
          font-size: 20px;
          font-weight: 600;
          margin-top: 8rem;
          letter-spacing: 3px;
          text-align: center;
          color: #494949;
        }
      }
    }
  }

  & .subTotal {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & button {
      font-family: 'Nunito', sans-serif;
      cursor: pointer;
      background-color: transparent;
      display: flex;
      align-items: center;
      gap: 20px;
      border: none;
      font-weight: 700;
      color: #494949;
    }

    & p {
      margin-right: 3rem;
      font-size: 15px;
      color: #373737;
      font-weight: 600;

      & span {
        margin-left: 10px;
        font-weight: 700;
      }
    }
  }

  & .checkoutContainer {
    flex: 0.4;
    position: relative;
    width: 100%;
    background: linear-gradient(135deg, #3e3e3e, #161616);
    padding: 20px;
    box-shadow: -5px 0 17px 5px rgba(44, 44, 44, 0.3);
    overflow: hidden;
    color: white;
    padding: 20px;

    & div {
      padding: 0px 80px;
      display: flex;
      flex-direction: column;
      gap: 1.1rem;

      & h2 {
        display: flex;
        color: var(--primary-yellow);
        align-items: center;
        gap: 0.7rem;
      }

      & label {
        color: rgb(205, 205, 205);
        display: flex;
        width: 90%;
        flex-direction: column;
        & input {
          font-weight: 500;
          font-size: 17px;
          color: white;
          outline: none;
          border: none;
          padding: 5px 2px;
          border-bottom: 1px solid white;
          background: transparent;
        }

        & input[type='number']::-webkit-outer-spin-button,
        input[type='number']::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;

          &input[type='number'] {
            -moz-appearance: textfield;
          }
        }

        & p {
          margin: 0;
        }
      }

      & .expiryDate {
        display: flex;
        flex-direction: column;
        align-items: first baseline;
        gap: 8px;

        & input {
          width: 50px;
          margin-right: 5px;
          color: white;
          text-align: center;
          font-size: 16px;
          outline: none;
        }

        & span {
          color: white;
          font-size: 18px;
        }

        & input:focus {
          border-bottom: 2px solid yellow;
        }
      }
    }
  }
}
