@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
  position: relative;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  font-style: italic;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 60px;
  background: linear-gradient(to bottom, #ffffff, #ffd7d7, #f08080);

  & div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }

  & p {
    width: 40%;
    line-height: 3rem;
    color: #2f2f2f;
    text-shadow: 1px 1px 2px #586f48;
  }

  & img {
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.3);
    width: 500px;
    border-radius: 3px;
  }
}
